.item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 60px 1fr 0.5fr;
  grid-gap: 0.5rem;
  padding: 1rem;
  margin: 1rem;

  .channel-image {
    grid-column: 4;
    place-self: end;
    border-radius: 50%;
    height: auto;
    width: 5rem;
  }

  &__description {
    grid-column: 1 / 4;
  }

  &__author-avatar {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  &__author-name {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: end;
  }

  &__time {
    grid-column: 4;
    grid-row: 3 / 4;
    place-self: end;
    min-width: 9rem;
  }

  &__header {
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    line-height: 2.5rem;
  }

  &__time time:first-child::after {
    content: ' - ';
  }

  &__description p {
    line-height: 1.5rem;
  }
}

// Called in media-queries.scss
@mixin item--sm() {
  .item {
    margin: 0;
  }
}

@mixin item--md() {
  .item {
    margin: 0;
    .channel-image {
      grid-row: 2 / 3;
      width: 7rem;
      border-radius: 0.5rem;
      border: 3px solid #000;
    }

    &__description {
      grid-row: 2 / 3;
    }
  }
}
